CoastCapitalN8N/workflows/homelab/homelab_health_check.json
{
  "id": "a1b2c3d4-2001-4000-8004-000000000004",
  "name": "Platform - Health Check (5 min)",
  "active": true,
  "versionId": "2",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "4",
      "name": "homelab"
    },
    {
      "id": "5",
      "name": "monitoring"
    },
    {
      "id": "6",
      "name": "platform"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs every 5 minutes. Polls health endpoints for all platform services (MySQL, Finance, HomeLab, Assistant, Sports). On failure: sends Slack alert and calls error handler.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        350
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        550
      ],
      "webhookId": "homelab-health-webhook",
      "parameters": {
        "path": "/webhook/homelab-health",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        350
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "[HomeLab] Health Check workflow started at {{ $now.toISO() }}",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALK9LU6H4",
          "mode": "id"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-check-mysql",
      "name": "Check MySQL Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        50
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-db-maintenance:8080/health",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-finance",
      "name": "Check Finance API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        250
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coast_capital_finance:5000/health",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-homelab",
      "name": "Check HomeLab API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        350
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-homelab:5000/health",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-assistant",
      "name": "Check Assistant API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        450
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-assistant:5000/health",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-sports",
      "name": "Check Sports API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        550
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-sports:5000/health",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        880,
        350
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "health_status",
              "name": "health_status",
              "value": "=Health check completed at {{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "node-check-failures",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        350
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-fail",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "node-slack-alert",
      "name": "Slack - Service Down Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[HomeLab] :rotating_light: Service Health Check FAILED\nTime: {{ $now.toISO() }}\nCheck n8n execution log for details.",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALHU9MADB",
          "mode": "id"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Platform - Health Check (5 min)\", \"module\": \"homelab\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[HomeLab] :white_check_mark: *Platform - Health Check (5 min)* completed successfully\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALK9LU6H4",
          "mode": "id"
        }
      },
      "id": "job-complete-a1b2c3d4",
      "name": "Slack - Job Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "Check MySQL Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Finance API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check HomeLab API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Assistant API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Sports API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MySQL Health": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Finance API": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HomeLab API": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Assistant API": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sports API": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Slack - Service Down Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}