CoastCapitalN8N/workflows/assistant/assistant_task_sync.json
{
  "id": "a1b2c3d4-3002-4000-8007-000000000007",
  "name": "Assistant - Task Sync (30 min)",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "6",
      "name": "assistant"
    },
    {
      "id": "5",
      "name": "monitoring"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs every 30 minutes. Syncs tasks from external sources (Todoist, Notion, etc.) into the coast_assistant_silver database. Upserts tasks to avoid duplicates.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "webhookId": "assistant-tasks-webhook",
      "parameters": {
        "path": "/webhook/assistant-tasks",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-jobs-fyi",
        "text": "[Assistant] Task Sync workflow started at {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-sync-todoist",
      "name": "POST /api/sync/todoist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_assistant:5002/api/sync/todoist",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-assistant-webhook",
          "name": "Assistant Webhook Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-sync-notion",
      "name": "POST /api/sync/notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_assistant:5002/api/sync/notion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-assistant-webhook",
          "name": "Assistant Webhook Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-aggregate",
      "name": "Aggregate Sync Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        840,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "sync_status",
              "name": "sync_status",
              "value": "=[Assistant] Task sync completed at {{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "node-check-errors",
      "name": "Sync Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-err",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Sync Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1280,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-action-needed",
        "text": "=[Assistant] :x: *Assistant - Task Sync (30 min)* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Assistant - Task Sync (30 min)\", \"module\": \"assistant\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-ok",
      "name": "Sync OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        400
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "POST /api/sync/todoist",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST /api/sync/notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/sync/todoist": {
      "main": [
        [
          {
            "node": "Aggregate Sync Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/sync/notion": {
      "main": [
        [
          {
            "node": "Aggregate Sync Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sync Results": {
      "main": [
        [
          {
            "node": "Sync Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Errors?": {
      "main": [
        [
          {
            "node": "Slack - Sync Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sync OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}