CoastCapitalN8N/workflows/database/.smbdeleteAAA343c4.4
{
  "name": "MySQL Database Maintenance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "nightly-trigger",
      "name": "Nightly Schedule (2 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "health-trigger",
      "name": "Health Check (Every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Full Maintenance (Mon 8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 660]
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 840],
      "webhookId": "db-maintenance-webhook",
      "parameters": {
        "path": "/webhook/db-maintenance",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started-nightly",
      "name": "Job Started - Nightly",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [420, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-jobs-fyi",
        "text": "[Database] Nightly Maintenance workflow started at {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-job-started-health",
      "name": "Job Started - Health",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [420, 480],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-jobs-fyi",
        "text": "[Database] Health Check workflow started at {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-job-started-weekly",
      "name": "Job Started - Weekly",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [420, 660],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-jobs-fyi",
        "text": "[Database] Weekly Full Maintenance workflow started at {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-job-started-webhook",
      "name": "Job Started - Webhook",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [420, 840],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-jobs-fyi",
        "text": "[Database] Manual Maintenance triggered via webhook at {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_type",
              "value": "analyze"
            },
            {
              "name": "schema_name",
              "value": "coastcapital"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "analyze-tables",
      "name": "Analyze Tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_type",
              "value": "optimize"
            },
            {
              "name": "schema_name",
              "value": "coastcapital"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "optimize-tables",
      "name": "Optimize Tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [860, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_type",
              "value": "slow_queries"
            },
            {
              "name": "schema_name",
              "value": "coastcapital"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "capture-slow-queries",
      "name": "Capture Slow Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/recommendations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-recommendations",
      "name": "Get Recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recommendations",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-recommendations",
      "name": "Has Recommendations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1580, 240]
    },
    {
      "id": "node-slack-recommendations",
      "name": "Slack - Recommendations Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1800, 140],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-action-needed",
        "text": "=[Database] :mag: Maintenance recommendations found ({{ $json.count }}). Review recommended optimizations in the maintenance dashboard.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-slack-nightly-complete",
      "name": "Slack - Nightly Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1800, 340],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-recent-summaries",
        "text": "=[Database] Nightly maintenance completed successfully. No recommendations.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_type",
              "value": "health"
            },
            {
              "name": "schema_name",
              "value": "coastcapital"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "health-capture",
      "name": "Health Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/health-snapshot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "read-health-snapshot",
      "name": "Read Health Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [860, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      }
    },
    {
      "id": "node-slack-health-report",
      "name": "Slack - Health Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1100, 480],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-recent-summaries",
        "text": "=[Database] Health snapshot captured at {{ $now.toISO() }}. See maintenance dashboard for details.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_type",
              "value": "full"
            },
            {
              "name": "schema_name",
              "value": "coastcapital"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "full-maintenance",
      "name": "Full Maintenance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 660],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-db-maintenance:8080/maintenance/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_type",
              "value": "flush"
            },
            {
              "name": "schema_name",
              "value": "coastcapital"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "flush-counters",
      "name": "Flush Status Counters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [860, 660],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maintenance-api-key",
          "name": "Maintenance API Key"
        }
      }
    },
    {
      "id": "node-slack-weekly-complete",
      "name": "Slack - Weekly Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1100, 660],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-recent-summaries",
        "text": "=[Database] Weekly full maintenance and status flush completed at {{ $now.toISO() }}.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "CoastCapital Slack"
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 840],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"mysql_maintenance\", \"error_message\": \"{{ $json.error || $json.message }}\", \"module\": \"database\"}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Nightly Schedule (2 AM)": {
      "main": [
        [
          { "node": "Job Started - Nightly", "type": "main", "index": 0 }
        ]
      ]
    },
    "Health Check (Every 6h)": {
      "main": [
        [
          { "node": "Job Started - Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Weekly Full Maintenance (Mon 8 AM)": {
      "main": [
        [
          { "node": "Job Started - Weekly", "type": "main", "index": 0 }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Job Started - Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Job Started - Nightly": {
      "main": [
        [
          { "node": "Analyze Tables", "type": "main", "index": 0 }
        ]
      ]
    },
    "Job Started - Health": {
      "main": [
        [
          { "node": "Health Snapshot", "type": "main", "index": 0 }
        ]
      ]
    },
    "Job Started - Weekly": {
      "main": [
        [
          { "node": "Full Maintenance", "type": "main", "index": 0 }
        ]
      ]
    },
    "Job Started - Webhook": {
      "main": [
        [
          { "node": "Analyze Tables", "type": "main", "index": 0 }
        ]
      ]
    },
    "Analyze Tables": {
      "main": [
        [
          { "node": "Optimize Tables", "type": "main", "index": 0 }
        ]
      ]
    },
    "Optimize Tables": {
      "main": [
        [
          { "node": "Capture Slow Queries", "type": "main", "index": 0 }
        ]
      ]
    },
    "Capture Slow Queries": {
      "main": [
        [
          { "node": "Get Recommendations", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Recommendations": {
      "main": [
        [
          { "node": "Has Recommendations?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Recommendations?": {
      "main": [
        [
          { "node": "Slack - Recommendations Alert", "type": "main", "index": 0 },
          { "node": "Call Error Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "Slack - Nightly Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Health Snapshot": {
      "main": [
        [
          { "node": "Read Health Snapshot", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Health Snapshot": {
      "main": [
        [
          { "node": "Slack - Health Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Full Maintenance": {
      "main": [
        [
          { "node": "Flush Status Counters", "type": "main", "index": 0 }
        ]
      ]
    },
    "Flush Status Counters": {
      "main": [
        [
          { "node": "Slack - Weekly Complete", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["mysql", "maintenance", "database", "coastcapital"],
  "triggerCount": 4,
  "updatedAt": "2026-03-08T00:00:00.000Z",
  "versionId": "2"
}
