CoastCapitalN8N/workflows/sports/.smbdeleteAAA44964.4
{
  "id": "a1b2c3d4-4007-4000-800e-000000000014",
  "name": "Sports - Season Backfill",
  "active": false,
  "versionId": "1",
  "meta": { "instanceId": "coastcapital-n8n" },
  "tags": [
    { "id": "7", "name": "sports" },
    { "id": "12", "name": "backfill" }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Manual trigger only (active: false). Backfills historical game data for a given sport and season. Use for initial data loading or catching up after downtime. After backfill, materializes features for model training.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "sports-backfill-webhook",
      "parameters": {
        "path": "/webhook/sports-backfill",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [470, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-jobs-fyi",
        "text": "=[Sports] Job started: Sports - Season Backfill ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": { "id": "cred-slack", "name": "CoastCapital Slack" }
      }
    },
    {
      "id": "node-backfill",
      "name": "POST /backfill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 200],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/backfill",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"sport\": \"ncaa_mbb\", \"start_date\": \"2022-11-04\", \"end_date\": \"2025-03-14\"}",
        "options": { "timeout": 600000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "cred-sports-webhook", "name": "Sports Webhook Auth" }
      }
    },
    {
      "id": "node-check-result",
      "name": "Backfill Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-materialize",
      "name": "POST /materialize-features",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 100],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/materialize-features",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"sport\": \"nfl\"}",
        "options": { "timeout": 300000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "cred-sports-webhook", "name": "Sports Webhook Auth" }
      }
    },
    {
      "id": "node-slack-done",
      "name": "Slack - Backfill Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1350, 100],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-recent-summaries",
        "text": "=[Sports] Backfill + feature materialization complete.\nGames backfilled: {{ $json.games_processed || 'check logs' }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": { "id": "cred-slack", "name": "CoastCapital Slack" }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Backfill Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1130, 350],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-action-needed",
        "text": "=[Sports] :warning: Sports backfill failed: {{ $json.error || 'Unknown error' }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": { "id": "cred-slack", "name": "CoastCapital Slack" }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1350, 350],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports - Season Backfill\", \"error_message\": \"{{ $json.error || $json.message }}\", \"module\": \"sports\"}",
        "options": { "timeout": 10000 }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Job Started", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Job Started", "type": "main", "index": 0 }]]
    },
    "Job Started": {
      "main": [[{ "node": "POST /backfill", "type": "main", "index": 0 }]]
    },
    "POST /backfill": {
      "main": [[{ "node": "Backfill Success?", "type": "main", "index": 0 }]]
    },
    "Backfill Success?": {
      "main": [
        [{ "node": "POST /materialize-features", "type": "main", "index": 0 }],
        [{ "node": "Slack - Backfill Failed", "type": "main", "index": 0 }]
      ]
    },
    "POST /materialize-features": {
      "main": [[{ "node": "Slack - Backfill Complete", "type": "main", "index": 0 }]]
    },
    "Slack - Backfill Failed": {
      "main": [[{ "node": "Call Error Handler", "type": "main", "index": 0 }]]
    }
  }
}
