CoastCapitalN8N/workflows/sports/sports_nfl_weekly_picks.json
{
  "id": "a1b2c3d4-4001-4000-8008-000000000008",
  "name": "Sports NFL - Weekly Picks Report",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "7",
      "name": "sports"
    },
    {
      "id": "8",
      "name": "nfl"
    },
    {
      "id": "3",
      "name": "weekly"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs Monday at 6:00 AM ET during NFL season (September through February). Calls the Sports API to generate weekly game predictions and picks, then distributes the picks report via Slack.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Monday 6:00 AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "webhookId": "sports-nfl-weekly-picks-webhook",
      "parameters": {
        "path": "/webhook/sports-nfl-picks",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        470,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] Job started: Sports NFL - Weekly Picks Report ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {},
        "select": "byName",
        "channel": "coast-jobs-fyi"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-check-season",
      "name": "Is NFL Season Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-month",
              "leftValue": "={{ $now.month }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-generate-picks",
      "name": "POST /nfl/weekly-picks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        910,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/nfl/weekly-picks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-check-result",
      "name": "Picks Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1130,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-slack-picks",
      "name": "Slack - Weekly Picks",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1350,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] NFL Weekly Picks Report\nSeason {{ $json.season }} - Week {{ $json.week }}\n\n{{ $json.picks_summary || 'See full report in dashboard' }}",
        "otherOptions": {},
        "select": "byName",
        "channel": "coast-recent-summaries"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Picks Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports NFL - Weekly Picks Report* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channel": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1570,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports NFL - Weekly Picks Report\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-off-season",
      "name": "Off-Season - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        910,
        300
      ],
      "parameters": {}
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    }
  ],
  "connections": {
    "Monday 6:00 AM ET": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "Is NFL Season Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is NFL Season Active?": {
      "main": [
        [
          {
            "node": "POST /nfl/weekly-picks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Off-Season - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /nfl/weekly-picks": {
      "main": [
        [
          {
            "node": "Picks Generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picks Generated?": {
      "main": [
        [
          {
            "node": "Slack - Weekly Picks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Picks Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Picks Failed": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}