CoastCapitalN8N/workflows/sports/sports_nfl_game_ingest.json
{
  "id": "a1b2c3d4-4002-4000-8009-000000000009",
  "name": "Sports NFL - Game Results Ingest",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "7",
      "name": "sports"
    },
    {
      "id": "8",
      "name": "nfl"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs at 11:30 PM ET on Sunday, Thursday, and Monday during NFL season. Ingests completed game results, player stats, and box scores into coast_sports_nfl_silver. Also triggers model updates for team ratings.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "NFL Game Nights 11:30 PM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 23 * * 0,1,4"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "webhookId": "sports-nfl-game-ingest-webhook",
      "parameters": {
        "path": "/webhook/sports-nfl-game-ingest",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        470,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] Job started: Sports NFL - Game Results Ingest ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {},
        "channel": "coast-jobs-fyi"
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-check-season",
      "name": "Is NFL Season Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-month",
              "leftValue": "={{ $now.month }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-ingest-games",
      "name": "POST /nfl/ingest-games",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        910,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/nfl/ingest-games",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-check-ingest",
      "name": "Ingest Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1130,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-update-ratings",
      "name": "POST /nfl/update-ratings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/nfl/update-ratings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-update-picks",
      "name": "POST /nfl/grade-picks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/nfl/grade-picks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-slack-results",
      "name": "Slack - Game Results",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1570,
        75
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] NFL game results ingested for {{ $now.format('yyyy-MM-dd') }}\nGames processed: {{ $json.games_ingested || 'check logs' }}",
        "otherOptions": {},
        "channel": "coast-recent-summaries"
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Ingest Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1350,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports NFL - Game Results Ingest* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "channel": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1570,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports NFL - Game Results Ingest\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-off-season",
      "name": "Off-Season - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        910,
        300
      ],
      "parameters": {}
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    }
  ],
  "connections": {
    "NFL Game Nights 11:30 PM ET": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "Is NFL Season Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is NFL Season Active?": {
      "main": [
        [
          {
            "node": "POST /nfl/ingest-games",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Off-Season - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /nfl/ingest-games": {
      "main": [
        [
          {
            "node": "Ingest Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Success?": {
      "main": [
        [
          {
            "node": "POST /nfl/update-ratings",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST /nfl/grade-picks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Ingest Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /nfl/update-ratings": {
      "main": [
        [
          {
            "node": "Slack - Game Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /nfl/grade-picks": {
      "main": [
        [
          {
            "node": "Slack - Game Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Ingest Failed": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}