CoastCapitalN8N/workflows/sports/sports_odds_backfill.json
[
  {
    "id": "a1b2c3d4-4008-4000-800f-000000000015",
    "name": "Sports - Historical Odds Backfill (NFL + MLB)",
    "active": false,
    "versionId": "1",
    "meta": {
      "instanceId": "coastcapital-n8n"
    },
    "tags": [
      {
        "id": "7",
        "name": "sports"
      },
      {
        "id": "12",
        "name": "backfill"
      }
    ],
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/New_York",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "notes": "Manual trigger only (active: false). Downloads historical odds from free external sources (aussportsbetting.com for NFL, sports-statistics.com for MLB), matches to existing game_results by (date, home_team, away_team), and upserts into fact_market_odds. Runs NFL and MLB sequentially. Requires openpyxl in the Sports container.",
    "nodes": [
      {
        "id": "node-trigger",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "parameters": {}
      },
      {
        "id": "node-webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          250,
          500
        ],
        "webhookId": "sports-odds-backfill-webhook",
        "parameters": {
          "path": "/webhook/sports-odds-backfill",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "node-job-started",
        "name": "Job Started",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          470,
          200
        ],
        "parameters": {
          "text": "=[Sports] Job started: Historical Odds Backfill (NFL + MLB)",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALK9LU6H4",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-nfl-odds",
        "name": "NFL Odds Backfill",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          690,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/backfill-odds",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"sport\": \"nfl\"}",
          "options": {
            "timeout": 600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-check-nfl",
        "name": "NFL OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          910,
          200
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-nfl-ok",
                "leftValue": "={{ $json.status }}",
                "rightValue": "ok",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-nfl-summary",
        "name": "Set NFL Summary",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.2,
        "position": [
          1130,
          100
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "nfl-msg",
                "name": "nfl_result",
                "value": "=NFL: parsed={{ $json.total_parsed }}, matched={{ $json.matched }}, inserted={{ $json.inserted }}, skipped={{ $json.skipped }}",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "node-mlb-odds",
        "name": "MLB Odds Backfill",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1350,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/backfill-odds",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"sport\": \"mlb\"}",
          "options": {
            "timeout": 600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-check-mlb",
        "name": "MLB OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1570,
          100
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-mlb-ok",
                "leftValue": "={{ $json.status }}",
                "rightValue": "ok",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-slack-success",
        "name": "Slack - Odds Backfill Complete",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1790,
          50
        ],
        "parameters": {
          "text": "=[Sports] :white_check_mark: Historical Odds Backfill Complete\n{{ $('Set NFL Summary').item.json.nfl_result }}\nMLB: parsed={{ $json.total_parsed }}, matched={{ $json.matched }}, inserted={{ $json.inserted }}, skipped={{ $json.skipped }}\nYears: {{ $json.years_loaded || 'all' }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALK9LU6H4",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-slack-nfl-failed",
        "name": "Slack - NFL Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1130,
          350
        ],
        "parameters": {
          "text": "=[Sports] :x: *Historical Odds Backfill* — NFL failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-slack-mlb-failed",
        "name": "Slack - MLB Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1790,
          250
        ],
        "parameters": {
          "text": "=[Sports] :warning: *Historical Odds Backfill* — MLB failed (NFL succeeded)\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-error-handler",
        "name": "Call Error Handler",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1350,
          350
        ],
        "parameters": {
          "method": "POST",
          "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_name\": \"Sports - Historical Odds Backfill (NFL + MLB)\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
          "options": {
            "timeout": 10000
          }
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Job Started",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Job Started",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job Started": {
        "main": [
          [
            {
              "node": "NFL Odds Backfill",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NFL Odds Backfill": {
        "main": [
          [
            {
              "node": "NFL OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NFL OK?": {
        "main": [
          [
            {
              "node": "Set NFL Summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - NFL Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set NFL Summary": {
        "main": [
          [
            {
              "node": "MLB Odds Backfill",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MLB Odds Backfill": {
        "main": [
          [
            {
              "node": "MLB OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MLB OK?": {
        "main": [
          [
            {
              "node": "Slack - Odds Backfill Complete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - MLB Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - NFL Failed": {
        "main": [
          [
            {
              "node": "Call Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]
