CoastCapitalN8N/workflows/sports/sports_ncaa_tournament_prep.json
{
  "id": "a1b2c3d4-5001-4000-800a-000000000024",
  "name": "Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "7",
      "name": "sports"
    },
    {
      "id": "9",
      "name": "ncaa"
    },
    {
      "id": "12",
      "name": "backfill"
    },
    {
      "id": "13",
      "name": "training"
    },
    {
      "id": "10",
      "name": "bracket"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Full NCAA Men's Basketball tournament preparation pipeline. Runs the complete sequence: backfill season data, materialize features, train model, promote model, and simulate bracket. Triggered via webhook at /webhook/sports-ncaa-prep. Each step checks for success before proceeding; failures notify #coast-action-needed and call the platform error handler.",
  "nodes": [
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "sports-ncaa-prep-webhook",
      "parameters": {
        "path": "/webhook/sports-ncaa-prep",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] NCAA Tournament Prep started ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-jobs-fyi"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-backfill",
      "name": "Step 1 - POST /backfill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/backfill",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sport\": \"ncaa_mbb\", \"start_date\": \"2024-11-01\", \"end_date\": \"{{ $now.format('yyyy-MM-dd') }}\"}",
        "options": {
          "timeout": 600000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-check-backfill",
      "name": "Backfill OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-backfill-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-materialize",
      "name": "Step 2 - POST /materialize-features",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1130,
        200
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/materialize-features",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sport\": \"ncaa_mbb\"}",
        "options": {
          "timeout": 300000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-train",
      "name": "Step 3 - POST /train-model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        200
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/train-model",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sport\": \"ncaa_mbb\", \"target\": \"home_win\", \"epochs\": 10, \"hidden_dim\": 128}",
        "options": {
          "timeout": 600000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-promote",
      "name": "Step 4 - POST /promote-model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1570,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/promote-model",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sport\": \"ncaa_mbb\", \"target\": \"home_win\", \"cv_folds\": 5}",
        "options": {
          "timeout": 300000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-check-promotion",
      "name": "Promotion OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1790,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-promote-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-slack-promote-warning",
      "name": "Slack - Promotion Warning",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2010,
        350
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :warning: NCAA model promotion did not pass validation (continuing with existing model): {{ $json.error || $json.message || 'Check logs' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-simulate",
      "name": "Step 5 - POST /simulate-bracket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2230,
        200
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/simulate-bracket",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"season\": {{ $now.year }}, \"n_simulations\": 10000, \"pool_size\": 100, \"risk_tolerance\": 0.5, \"output_html\": true, \"refresh_field\": true}",
        "options": {
          "timeout": 600000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-slack-success",
      "name": "Slack - Tournament Prep Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2450,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] NCAA Tournament Prep Complete ({{ $now.format('yyyy-MM-dd') }})\nPipeline: Backfill -> Features -> Train -> Promote -> Simulate\nSimulations: {{ $json.n_simulations || 10000 }}\nPredicted Champion: {{ $json.champion || 'check dashboard' }}\nTop Contenders: {{ $json.top_contenders || 'see bracket page' }}\nModel Accuracy: {{ $json.accuracy || 'N/A' }}\nBracket HTML: {{ $json.html_url || 'generated' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-jobs-fyi"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-slack-backfill-failed",
      "name": "Slack - Backfill Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1130,
        450
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler-backfill",
      "name": "Error Handler - Backfill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-slack-materialize-failed",
      "name": "Slack - Materialize Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1350,
        450
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler-materialize",
      "name": "Error Handler - Materialize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1570,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-slack-train-failed",
      "name": "Slack - Train Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1570,
        550
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler-train",
      "name": "Error Handler - Train",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1790,
        550
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-slack-simulate-failed",
      "name": "Slack - Simulate Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2450,
        450
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler-simulate",
      "name": "Error Handler - Simulate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2670,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep (Backfill \u2192 Train \u2192 Simulate)\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "Step 1 - POST /backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 - POST /backfill": {
      "main": [
        [
          {
            "node": "Backfill OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill OK?": {
      "main": [
        [
          {
            "node": "Step 2 - POST /materialize-features",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Backfill Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 - POST /materialize-features": {
      "main": [
        [
          {
            "node": "Step 3 - POST /train-model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Materialize Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3 - POST /train-model": {
      "main": [
        [
          {
            "node": "Step 4 - POST /promote-model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Train Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4 - POST /promote-model": {
      "main": [
        [
          {
            "node": "Promotion OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion OK?": {
      "main": [
        [
          {
            "node": "Step 5 - POST /simulate-bracket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Promotion Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Promotion Warning": {
      "main": [
        [
          {
            "node": "Step 5 - POST /simulate-bracket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5 - POST /simulate-bracket": {
      "main": [
        [
          {
            "node": "Slack - Tournament Prep Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Simulate Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Backfill Failed": {
      "main": [
        [
          {
            "node": "Error Handler - Backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Materialize Failed": {
      "main": [
        [
          {
            "node": "Error Handler - Materialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Train Failed": {
      "main": [
        [
          {
            "node": "Error Handler - Train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Simulate Failed": {
      "main": [
        [
          {
            "node": "Error Handler - Simulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}