CoastCapitalN8N/workflows/sports/sports_ncaa_tournament_prep.json
[
  {
    "id": "a1b2c3d4-5001-4000-800a-000000000024",
    "name": "Sports - NCAA Tournament Prep (Backfill \u2192 Tune \u2192 Train \u2192 Simulate)",
    "active": true,
    "versionId": "2",
    "meta": {
      "instanceId": "coastcapital-n8n"
    },
    "tags": [
      {
        "id": "7",
        "name": "sports"
      },
      {
        "id": "9",
        "name": "ncaa"
      },
      {
        "id": "12",
        "name": "backfill"
      },
      {
        "id": "13",
        "name": "training"
      },
      {
        "id": "10",
        "name": "bracket"
      }
    ],
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/New_York",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "notes": "Full NCAA MBB tournament prep pipeline: backfill season data, materialize features, Optuna Bayesian HPO (50 trials), train with best params, promote (with holdout+CV accuracy validation), simulate bracket (10 independent runs x 10K sims each), generate PDF summary, notify Slack with PDF. Triggered via webhook or manual trigger.",
    "nodes": [
      {
        "id": "node-webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [250, 300],
        "webhookId": "sports-ncaa-prep-webhook",
        "parameters": {
          "path": "/webhook/sports-ncaa-prep",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "node-job-started",
        "name": "Job Started",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [470, 300],
        "parameters": {
          "text": "=[Sports] NCAA Tournament Prep started ({{ $now.format('yyyy-MM-dd') }})\nPipeline: Backfill \u2192 Features \u2192 Optuna HPO (50 trials) \u2192 Train \u2192 Promote \u2192 Simulate (10 runs x 10K sims)",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALK9LU6H4",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-backfill",
        "name": "Step 1 - POST /backfill",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [690, 300],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/backfill",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"sport\": \"ncaa_mbb\", \"start_date\": \"2024-11-01\", \"end_date\": \"{{ $now.plus(25, 'days').format('yyyy-MM-dd') }}\"}",
          "options": {
            "timeout": 600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-check-backfill",
        "name": "Backfill OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [910, 300],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-backfill-ok",
                "leftValue": "={{ $json.status }}",
                "rightValue": "ok",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-materialize",
        "name": "Step 2 - POST /materialize-features",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1130, 200],
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/materialize-features",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"sport\": \"ncaa_mbb\"}",
          "options": {
            "timeout": 300000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-tune",
        "name": "Step 3 - POST /tune-model",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1350, 200],
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/tune-model",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"sport\": \"ncaa_mbb\", \"target\": \"home_win\", \"folds\": 3, \"n_trials\": 50, \"timeout\": 600}",
          "options": {
            "timeout": 3600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-train",
        "name": "Step 4 - POST /train-model (best params)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1570, 200],
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/train-model",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"sport\": \"ncaa_mbb\", \"target\": \"home_win\", \"epochs\": {{ $json.best_result.params.epochs || 10 }}, \"hidden_dim\": {{ $json.best_result.params.hidden_dim || 128 }}, \"batch_size\": {{ $json.best_result.params.batch_size || 32 }}, \"learning_rate\": {{ $json.best_result.params.learning_rate || 0.001 }}, \"dropout\": {{ $json.best_result.params.dropout || 0.1 }}, \"n_layers\": {{ $json.best_result.params.n_layers || 3 }}, \"batch_norm\": {{ $json.best_result.params.batch_norm ?? true }}, \"weight_decay\": {{ $json.best_result.params.weight_decay || 0.0 }}}",
          "options": {
            "timeout": 600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-promote",
        "name": "Step 5 - POST /promote-model",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1790, 200],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/promote-model",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"sport\": \"ncaa_mbb\", \"target\": \"home_win\", \"cv_folds\": 5}",
          "options": {
            "timeout": 600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-check-promotion",
        "name": "Promotion OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [2010, 200],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-promote-ok",
                "leftValue": "={{ $json.promoted }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-slack-promote-warning",
        "name": "Slack - Promotion Warning",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [2230, 350],
        "parameters": {
          "text": "=[Sports] :warning: NCAA model promotion did not pass validation (continuing with existing model): {{ $json.warning || $json.error || 'Check logs' }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-simulate",
        "name": "Step 6 - POST /simulate-bracket",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [2450, 200],
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5300/simulate-bracket",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"season\": {{ $now.year }}, \"n_runs\": 10, \"n_simulations\": 10000, \"pool_size\": 100, \"risk_tolerance\": 0.5, \"output_html\": true, \"output_pdf\": true, \"refresh_field\": true}",
          "options": {
            "timeout": 3600000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7NUHQU5ld1czCF4S",
            "name": "Sports Webhook Auth"
          }
        }
      },
      {
        "id": "node-slack-success",
        "name": "Slack - Tournament Prep Complete",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [2670, 200],
        "parameters": {
          "text": "=[Sports] :trophy: NCAA Tournament Prep Complete ({{ $now.format('yyyy-MM-dd') }})\n*Pipeline:* Backfill \u2192 Features \u2192 Tune \u2192 Train \u2192 Promote \u2192 Simulate\n*Runs:* {{ $json.n_runs || 10 }} x {{ $json.n_simulations_per_run || 10000 }} simulations\n*Best Champion:* {{ $json.champion || 'check dashboard' }}\n*All Champions:* {{ ($json.all_champions || []).join(', ') }}\n*Model:* {{ $json.model_version || 'N/A' }}\n*PDF Report:* {{ $json.pdf_path || 'not generated' }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALQUT54PN",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-slack-backfill-failed",
        "name": "Slack - Backfill Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [1130, 450],
        "parameters": {
          "text": "=[Sports] :x: *Sports - NCAA Tournament Prep* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-error-handler-backfill",
        "name": "Error Handler - Backfill",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1350, 450],
        "parameters": {
          "method": "POST",
          "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
          "options": {
            "timeout": 10000
          }
        }
      },
      {
        "id": "node-slack-materialize-failed",
        "name": "Slack - Materialize Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [1350, 550],
        "parameters": {
          "text": "=[Sports] :x: *Sports - NCAA Tournament Prep* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-error-handler-materialize",
        "name": "Error Handler - Materialize",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1570, 550],
        "parameters": {
          "method": "POST",
          "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
          "options": {
            "timeout": 10000
          }
        }
      },
      {
        "id": "node-slack-tune-failed",
        "name": "Slack - Tune Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [1570, 650],
        "parameters": {
          "text": "=[Sports] :x: *Sports - NCAA Tournament Prep* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-error-handler-tune",
        "name": "Error Handler - Tune",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1790, 650],
        "parameters": {
          "method": "POST",
          "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
          "options": {
            "timeout": 10000
          }
        }
      },
      {
        "id": "node-slack-train-failed",
        "name": "Slack - Train Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [1790, 550],
        "parameters": {
          "text": "=[Sports] :x: *Sports - NCAA Tournament Prep* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-error-handler-train",
        "name": "Error Handler - Train",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [2010, 550],
        "parameters": {
          "method": "POST",
          "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
          "options": {
            "timeout": 10000
          }
        }
      },
      {
        "id": "node-slack-simulate-failed",
        "name": "Slack - Simulate Failed",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [2670, 450],
        "parameters": {
          "text": "=[Sports] :x: *Sports - NCAA Tournament Prep* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "node-error-handler-simulate",
        "name": "Error Handler - Simulate",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [2890, 450],
        "parameters": {
          "method": "POST",
          "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_name\": \"Sports - NCAA Tournament Prep\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
          "options": {
            "timeout": 10000
          }
        }
      },
      {
        "parameters": {},
        "id": "manual-trigger-a1b2c3d4",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [250, 100]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Job Started",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job Started": {
        "main": [
          [
            {
              "node": "Step 1 - POST /backfill",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 1 - POST /backfill": {
        "main": [
          [
            {
              "node": "Backfill OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Backfill OK?": {
        "main": [
          [
            {
              "node": "Step 2 - POST /materialize-features",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Backfill Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 2 - POST /materialize-features": {
        "main": [
          [
            {
              "node": "Step 3 - POST /tune-model",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Materialize Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 3 - POST /tune-model": {
        "main": [
          [
            {
              "node": "Step 4 - POST /train-model (best params)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Tune Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 4 - POST /train-model (best params)": {
        "main": [
          [
            {
              "node": "Step 5 - POST /promote-model",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Train Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 5 - POST /promote-model": {
        "main": [
          [
            {
              "node": "Promotion OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Promotion OK?": {
        "main": [
          [
            {
              "node": "Step 6 - POST /simulate-bracket",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Promotion Warning",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - Promotion Warning": {
        "main": [
          [
            {
              "node": "Step 6 - POST /simulate-bracket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 6 - POST /simulate-bracket": {
        "main": [
          [
            {
              "node": "Slack - Tournament Prep Complete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack - Simulate Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - Backfill Failed": {
        "main": [
          [
            {
              "node": "Error Handler - Backfill",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - Materialize Failed": {
        "main": [
          [
            {
              "node": "Error Handler - Materialize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - Tune Failed": {
        "main": [
          [
            {
              "node": "Error Handler - Tune",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - Train Failed": {
        "main": [
          [
            {
              "node": "Error Handler - Train",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack - Simulate Failed": {
        "main": [
          [
            {
              "node": "Error Handler - Simulate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Job Started",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]
