CoastCapitalN8N/workflows/sports/sports_weekly_optimization.json
{
  "id": "a1b2c3d4-4004-4000-800b-000000000011",
  "name": "Sports - Weekly Model Optimization",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "7",
      "name": "sports"
    },
    {
      "id": "3",
      "name": "weekly"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs every Tuesday at 3:00 AM ET. Refits production models with latest data, runs cross-validation, and generates the weekly betting optimization plan. Tuesday timing ensures Monday night games are included.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Tuesday 3:00 AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 2"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "webhookId": "sports-weekly-optimization-webhook",
      "parameters": {
        "path": "/webhook/sports-weekly-optimization",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        470,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] Job started: Sports - Weekly Model Optimization ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-jobs-fyi"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-weekly-opt",
      "name": "POST /weekly-optimization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        690,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-sports:5000/weekly-optimization",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sports\": [\"nfl\", \"ncaa_mbb\", \"mlb\"], \"bankroll\": 50, \"max_pct\": 0.5, \"force_refit\": true}",
        "options": {
          "timeout": 600000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-sports-webhook",
          "name": "Sports Webhook Auth"
        }
      }
    },
    {
      "id": "node-check-result",
      "name": "Optimization Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-slack-success",
      "name": "Slack - Weekly Optimization",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1130,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] Weekly Model Optimization Complete\nModels refit: {{ $json.models_refit || 'check dashboard' }}\nBetting plan: {{ $json.betting_plan_summary || 'see /api/weekly-plan' }}\nCV Results: {{ $json.cv_summary || 'check model diagnostics' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-recent-summaries"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Optimization Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1130,
        350
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :x: *Sports - Weekly Model Optimization* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        350
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Sports - Weekly Model Optimization\", \"module\": \"sports\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Sports] :white_check_mark: *Sports - Weekly Model Optimization* completed successfully\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-jobs-fyi"
      },
      "id": "job-complete-a1b2c3d4",
      "name": "Slack - Job Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Tuesday 3:00 AM ET": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "POST /weekly-optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /weekly-optimization": {
      "main": [
        [
          {
            "node": "Optimization Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimization Success?": {
      "main": [
        [
          {
            "node": "Slack - Weekly Optimization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Optimization Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Optimization Failed": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}