CoastCapitalN8N/workflows/finance/finance_watchlist_sync.json
{
  "id": "a1b2c3d4-1003-4000-8003-000000000003",
  "name": "Finance - Watchlist Sync",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "1",
      "name": "finance"
    },
    {
      "id": "2",
      "name": "daily"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs daily at 5:00 AM ET. Fetches the current watchlist, checks for new tickers, and triggers a backfill for any tickers missing historical data.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Daily 5:00 AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "webhookId": "finance-watchlist-sync",
      "parameters": {
        "path": "/webhook/finance-watchlist",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Finance] Job started: Finance - Watchlist Sync ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALK9LU6H4",
          "mode": "id"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-get-watchlist",
      "name": "GET /n8n/watchlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coast_capital_finance:5000/n8n/watchlist",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-finance-webhook",
          "name": "Finance Webhook Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-check-http-error",
      "name": "Check HTTP Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Watchlist Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1130,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Finance] :x: *Finance - Watchlist Sync* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALHU9MADB",
          "mode": "id"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-call-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Finance - Watchlist Sync\", \"module\": \"finance\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-check-new",
      "name": "Has New Tickers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1130,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-new",
              "leftValue": "={{ $json.needs_backfill?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-backfill",
      "name": "POST /n8n/backfill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/backfill",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tickers",
              "value": "={{ $json.needs_backfill }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-finance-webhook",
          "name": "Finance Webhook Auth"
        }
      }
    },
    {
      "id": "node-no-action",
      "name": "No New Tickers",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1350,
        600
      ],
      "parameters": {}
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Finance] :white_check_mark: *Finance - Watchlist Sync* completed successfully\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALK9LU6H4",
          "mode": "id"
        }
      },
      "id": "job-complete-a1b2c3d4",
      "name": "Slack - Job Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Daily 5:00 AM ET": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "GET /n8n/watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /n8n/watchlist": {
      "main": [
        [
          {
            "node": "Check HTTP Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HTTP Error": {
      "main": [
        [
          {
            "node": "Slack - Watchlist Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has New Tickers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Watchlist Error": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Tickers?": {
      "main": [
        [
          {
            "node": "POST /n8n/backfill",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}