CoastCapitalN8N/workflows/finance/finance_weekly_retrain.json
{
  "id": "a1b2c3d4-1002-4000-8002-000000000002",
  "name": "Finance - Weekly Model Retrain",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "1",
      "name": "finance"
    },
    {
      "id": "3",
      "name": "weekly"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Runs every Sunday at 2:00 AM ET. Calls POST /n8n/retrain-all to retrain all ML models (LightGBM + XGBoost) with the latest week of data. Logs results and alerts on failure.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Sunday 2:00 AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        500
      ],
      "webhookId": "finance-weekly-retrain",
      "parameters": {
        "path": "/webhook/finance-retrain",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-job-started",
      "name": "Job Started",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Finance] Job started: Finance - Weekly Model Retrain ({{ $now.format('yyyy-MM-dd') }})",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-jobs-fyi"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-http-retrain",
      "name": "POST /n8n/retrain-all",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/retrain-all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 600000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-finance-webhook",
          "name": "Finance Webhook Auth"
        }
      }
    },
    {
      "id": "node-check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-log-success",
      "name": "Log Retrain Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1130,
        200
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "=[Finance] Weekly retrain completed successfully. Models retrained: {{ $json.models_retrained || 'all' }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "node-slack-error",
      "name": "Slack - Retrain Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1130,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Finance] :x: *Finance - Weekly Model Retrain* failed\n*Error:* {{ $json.error || $json.message || 'Unknown error' }}\n*HTTP Status:* {{ $json.statusCode || 'N/A' }}\n*Response:* {{ JSON.stringify($json.body || $json.data || {}).substring(0, 500) }}\n*Node:* {{ $prevNode.name }}\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n*Execution:* {{ $execution.resumeUrl ? $execution.resumeUrl : 'N/A' }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-action-needed"
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-call-error-handler",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1350,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://coastcapital-n8n:5678/webhook/platform-error-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflow_name\": \"Finance - Weekly Model Retrain\", \"module\": \"finance\", \"error_message\": \"{{ $json.error || $json.message || 'Unknown error' }}\", \"status_code\": \"{{ $json.statusCode || 'N/A' }}\", \"response_body\": \"{{ JSON.stringify($json.body || $json.data || {}).substring(0, 1000) }}\", \"failed_node\": \"{{ $prevNode.name }}\", \"timestamp\": \"{{ $now.toISO() }}\", \"execution_id\": \"{{ $execution.id }}\"}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "=[Finance] :white_check_mark: *Finance - Weekly Model Retrain* completed successfully\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "otherOptions": {},
        "select": "byName",
        "channelId": "coast-jobs-fyi"
      },
      "id": "job-complete-a1b2c3d4",
      "name": "Slack - Job Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Sunday 2:00 AM ET": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Started": {
      "main": [
        [
          {
            "node": "POST /n8n/retrain-all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /n8n/retrain-all": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Retrain Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Retrain Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Retrain Failed": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Job Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}