CoastCapitalN8N/workflows/finance/finance_universe_sync.json
[{
  "id": "a1b2c3d4-1005-4000-8005-000000000005",
  "name": "Finance - Universe Sync",
  "active": true,
  "versionId": "2",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "1",
      "name": "finance"
    },
    {
      "id": "3",
      "name": "daily"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Daily universe sync at 6AM ET. Auto-detects first run: if no price data exists, runs full_backfill (period=max, all history back to IPO). Otherwise does incremental update (last 10 days). Flow: Schedule → Load tickers → Check stats → IF first run → full backfill / ELSE incremental → Stats → Slack.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Daily 6AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-load-universe",
      "name": "Load Universe Tickers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/universe/load",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "node-check-stats",
      "name": "Check Price Coverage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "parameters": {
        "method": "GET",
        "url": "http://coast_capital_finance:5000/n8n/universe/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-if-first-run",
      "name": "First Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-price-rows",
              "leftValue": "={{ $json.data?.price_coverage?.total_price_rows ?? 0 }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-full-screener",
      "name": "Full Backfill Screener",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 150],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/screener/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"full_backfill\": true, \"batch_size\": 100}",
        "options": {
          "timeout": 86400000
        }
      }
    },
    {
      "id": "node-full-reference",
      "name": "Full Backfill Reference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/reference/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"full_backfill\": true, \"batch_size\": 100}",
        "options": {
          "timeout": 86400000
        }
      }
    },
    {
      "id": "node-incr-screener",
      "name": "Incremental Screener",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 500],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/screener/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"days_back\": 10}",
        "options": {
          "timeout": 14400000
        }
      }
    },
    {
      "id": "node-incr-reference",
      "name": "Incremental Reference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 650],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/reference/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"days_back\": 10}",
        "options": {
          "timeout": 14400000
        }
      }
    },
    {
      "id": "node-final-stats",
      "name": "Get Final Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 400],
      "parameters": {
        "method": "GET",
        "url": "http://coast_capital_finance:5000/n8n/universe/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-slack-notify",
      "name": "Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1850, 400],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "C0ALK9LU6H4",
          "mode": "id"
        },
        "text": "={{ '[Finance] Universe sync complete\\n' + '• Total tickers: ' + JSON.stringify($json.data?.total || 'N/A') + '\\n' + '• Tiers: ' + JSON.stringify($json.data?.tier_counts || {}) + '\\n' + '• Stocks with prices: ' + ($json.data?.price_coverage?.stocks_with_prices || 'N/A') + '\\n' + '• Total price rows: ' + ($json.data?.price_coverage?.total_price_rows || 'N/A') + '\\n' + '• Date range: ' + ($json.data?.price_coverage?.earliest_date || '?') + ' → ' + ($json.data?.price_coverage?.latest_date || '?') }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Daily 6AM ET": {
      "main": [
        [
          {
            "node": "Load Universe Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Universe Tickers": {
      "main": [
        [
          {
            "node": "Check Price Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price Coverage": {
      "main": [
        [
          {
            "node": "First Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Run?": {
      "main": [
        [
          {
            "node": "Full Backfill Screener",
            "type": "main",
            "index": 0
          },
          {
            "node": "Full Backfill Reference",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incremental Screener",
            "type": "main",
            "index": 0
          },
          {
            "node": "Incremental Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Backfill Screener": {
      "main": [
        [
          {
            "node": "Get Final Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Backfill Reference": {
      "main": [
        [
          {
            "node": "Get Final Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incremental Screener": {
      "main": [
        [
          {
            "node": "Get Final Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incremental Reference": {
      "main": [
        [
          {
            "node": "Get Final Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Stats": {
      "main": [
        [
          {
            "node": "Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}]
