CoastCapitalN8N/workflows/finance/finance_universe_sync.json
[{
  "id": "a1b2c3d4-1005-4000-8005-000000000005",
  "name": "Finance - Universe Sync",
  "active": true,
  "versionId": "3",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "1",
      "name": "finance"
    },
    {
      "id": "3",
      "name": "daily"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Daily universe sync at 6AM ET. Loads ~48K tickers (SEC EDGAR + NASDAQ + Twelve Data international), then smart-updates prices per stock: no history → full backfill (period=max), has history → fetch since last trade date. Flow: Schedule → Load tickers → Smart Update → Stats → Slack.",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Daily 6AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-load-universe",
      "name": "Load Universe Tickers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/universe/load",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "node-smart-update",
      "name": "Smart Price Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "parameters": {
        "method": "POST",
        "url": "http://coast_capital_finance:5000/n8n/universe/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"batch_size\": 100}",
        "options": {
          "timeout": 86400000
        }
      }
    },
    {
      "id": "node-final-stats",
      "name": "Get Final Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "parameters": {
        "method": "GET",
        "url": "http://coast_capital_finance:5000/n8n/universe/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-slack-notify",
      "name": "Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1400, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "C0ALK9LU6H4",
          "mode": "id"
        },
        "text": "={{ '[Finance] Universe sync complete\\n' + '• Total tickers: ' + JSON.stringify($json.data?.total || 'N/A') + '\\n' + '• Tiers: ' + JSON.stringify($json.data?.tier_counts || {}) + '\\n' + '• Stocks with prices: ' + ($json.data?.price_coverage?.stocks_with_prices || 'N/A') + '\\n' + '• Total price rows: ' + ($json.data?.price_coverage?.total_price_rows || 'N/A') + '\\n' + '• Date range: ' + ($json.data?.price_coverage?.earliest_date || '?') + ' → ' + ($json.data?.price_coverage?.latest_date || '?') }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Daily 6AM ET": {
      "main": [
        [
          {
            "node": "Load Universe Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Universe Tickers": {
      "main": [
        [
          {
            "node": "Smart Price Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Price Update": {
      "main": [
        [
          {
            "node": "Get Final Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Stats": {
      "main": [
        [
          {
            "node": "Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}]
