CoastCapitalN8N/workflows/platform/.smbdeleteAAA89164.4
{
  "id": "a1b2c3d4-5001-4000-800a-000000000020",
  "name": "Platform - Slack Dispatcher (MCP Intent \u2192 Workflow)",
  "active": true,
  "versionId": "2",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "20",
      "name": "platform"
    },
    {
      "id": "21",
      "name": "slack"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Listens in #coast-action-needed for user messages. Calls the Platform MCP service (host.docker.internal:5400) to classify intent via local Ollama with parameter extraction and confidence scoring. High-confidence intents dispatch to the appropriate workflow via webhook. Low-confidence or unclear intents trigger a Slack clarification message.",
  "nodes": [
    {
      "id": "node-slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "channel": "#coast-action-needed",
        "updates": [
          "message"
        ]
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-filter-bot",
      "name": "Filter Bot Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-not-bot",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-classify",
      "name": "MCP \u2014 Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        690,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5400/api/classify-intent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.PLATFORM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{ $('Slack Trigger').first().json.text }}\", \"source\": \"slack\"}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node-confidence-check",
      "name": "Confidence >= 0.6?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        250
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-conf",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "0.6",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "cond-not-unclear",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "unclear",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-dispatch",
      "name": "Dispatch to Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1130,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678{{ $json.webhook_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"triggered_by\": \"slack\", \"user_message\": \"{{ $('Slack Trigger').first().json.text }}\", \"params\": {{ JSON.stringify($('MCP \u2014 Classify Intent').first().json.params) }} }",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-ack",
      "name": "Slack - Acknowledged",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "text": "=\u2705 Got it! Dispatching *{{ $('MCP \u2014 Classify Intent').first().json.intent }}* ({{ Math.round($('MCP \u2014 Classify Intent').first().json.confidence * 100) }}% confidence)",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALHU9MADB",
          "mode": "id"
        },
        "select": "channel"
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-clarify",
      "name": "Slack - Ask Clarification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1130,
        380
      ],
      "parameters": {
        "text": "=\ud83e\udd14 {{ $('MCP \u2014 Classify Intent').first().json.clarification || \"I'm not sure what you'd like me to do. Could you rephrase?\" }}",
        "otherOptions": {},
        "channelId": {
          "__rl": true,
          "value": "C0ALHU9MADB",
          "mode": "id"
        },
        "select": "channel"
      },
      "credentials": {
        "slackApi": {
          "id": "SOJFNoa56040Xc8Q",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Bot Messages": {
      "main": [
        [
          {
            "node": "MCP \u2014 Classify Intent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "MCP \u2014 Classify Intent": {
      "main": [
        [
          {
            "node": "Confidence >= 0.6?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence >= 0.6?": {
      "main": [
        [
          {
            "node": "Dispatch to Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Ask Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch to Workflow": {
      "main": [
        [
          {
            "node": "Slack - Acknowledged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}