CoastCapitalN8N/workflows/platform/platform_system_status.json
{
  "id": "a1b2c3d4-5003-4000-800a-000000000022",
  "name": "Platform - System Status (Health Check All Services)",
  "active": true,
  "versionId": "1",
  "meta": {
    "instanceId": "coastcapital-n8n"
  },
  "tags": [
    {
      "id": "20",
      "name": "platform"
    },
    {
      "id": "23",
      "name": "status"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "Responds to system status requests from #coast-current-status or via webhook. Polls all service health endpoints and posts a formatted status report. Observability service has been removed.",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        200
      ],
      "webhookId": "platform-system-status",
      "parameters": {
        "path": "platform-system-status",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node-slack-trigger",
      "name": "Slack Trigger - Status",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        250,
        400
      ],
      "parameters": {
        "channel": "#coast-current-status",
        "updates": [
          "message"
        ]
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node-check-finance",
      "name": "Health - Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        530,
        100
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coast_capital_finance:5000/health",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-homelab",
      "name": "Health - HomeLab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        530,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-homelab:5000/health",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-assistant",
      "name": "Health - Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        530,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-assistant:5000/health",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-sports",
      "name": "Health - Sports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        530,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-sports:5000/health",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-check-maintenance",
      "name": "Health - Maintenance API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        530,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "http://coastcapital-db-maintenance:8080/health",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-build-status",
      "name": "Build Status Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        810,
        300
      ],
      "parameters": {
        "jsCode": "const services = [\n  { name: 'Finance', data: $('Health - Finance').first().json },\n  { name: 'HomeLab', data: $('Health - HomeLab').first().json },\n  { name: 'Assistant', data: $('Health - Assistant').first().json },\n  { name: 'Sports', data: $('Health - Sports').first().json },\n  { name: 'Maintenance API', data: $('Health - Maintenance API').first().json },\n];\n\nconst lines = ['[Platform] System Status Report \u2014 ' + new Date().toLocaleString('en-US', {timeZone: 'America/New_York'})];\nlines.push('\u2500'.repeat(40));\n\nlet allOk = true;\nfor (const svc of services) {\n  const ok = svc.data && svc.data.status === 'healthy';\n  if (!ok) allOk = false;\n  const icon = ok ? '\u2705' : '\u274c';\n  const status = ok ? 'Healthy' : (svc.data?.error || svc.data?.status || 'Unreachable');\n  lines.push(`${icon} ${svc.name}: ${status}`);\n}\n\nlines.push('\u2500'.repeat(40));\nlines.push(allOk ? '\u2705 All systems operational' : '\u26a0\ufe0f Some services need attention');\n\nreturn [{ json: { message: lines.join('\\n'), all_healthy: allOk } }];"
      }
    },
    {
      "id": "node-slack-reply",
      "name": "Slack - Status Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1030,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#coast-current-status",
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "manual-trigger-a1b2c3d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        0
      ]
    }
  ],
  "connections": {
    "Status Webhook": {
      "main": [
        [
          {
            "node": "Health - Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - HomeLab",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Sports",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Maintenance API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger - Status": {
      "main": [
        [
          {
            "node": "Health - Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - HomeLab",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Sports",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Maintenance API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health - Finance": {
      "main": [
        [
          {
            "node": "Build Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health - HomeLab": {
      "main": [
        [
          {
            "node": "Build Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health - Assistant": {
      "main": [
        [
          {
            "node": "Build Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health - Sports": {
      "main": [
        [
          {
            "node": "Build Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health - Maintenance API": {
      "main": [
        [
          {
            "node": "Build Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Health - Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - HomeLab",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Sports",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health - Maintenance API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}