CoastCapitalN8N/workflows/platform/platform_architecture_audit.json
[
  {
    "id": "a1b2c3d4-5001-4000-800a-000000000025",
    "name": "Platform - Architecture Audit (Daily Code Quality)",
    "active": true,
    "versionId": "1",
    "meta": {
      "instanceId": "coastcapital-n8n"
    },
    "tags": [
      {
        "id": "20",
        "name": "platform"
      },
      {
        "id": "25",
        "name": "architecture"
      },
      {
        "id": "26",
        "name": "audit"
      }
    ],
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/New_York",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "notes": "Daily codebase quality audit using ArchitectureAgent (Claude + tool-use). Checks all modules for standards violations, security issues, and architectural problems. If findings exist, creates a merge request and posts to Slack. If clean, stays silent.",
    "nodes": [
      {
        "id": "node-cron-trigger",
        "name": "Daily 5 AM",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 5 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "node-webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          250,
          500
        ],
        "webhookId": "platform-architecture-audit",
        "parameters": {
          "path": "platform-architecture-audit",
          "httpMethod": "POST",
          "responseMode": "onReceived"
        }
      },
      {
        "id": "node-run-audit",
        "name": "Run Architecture Audit",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          500,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5400/api/architecture-audit",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-API-Key",
                "value": "={{ $env.PLATFORM_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "dry_run",
                "value": "false"
              }
            ]
          },
          "options": {
            "timeout": 600000
          }
        }
      },
      {
        "id": "node-check-findings",
        "name": "Any Findings?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          400
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-count",
                "leftValue": "={{ $json.count }}",
                "rightValue": "0",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-format-findings",
        "name": "Format Findings as Markdown",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          940,
          300
        ],
        "parameters": {
          "jsCode": "const findings = $input.first().json.findings;\nconst now = new Date().toISOString().split('T')[0];\n\nlet md = `# Architecture Audit \u2014 ${now}\\n\\n`;\nmd += `**${findings.length} finding(s)**\\n\\n`;\n\nfor (const f of findings) {\n  const icon = f.severity === 'critical' ? '\ud83d\udd34' : f.severity === 'warning' ? '\ud83d\udfe1' : '\u2139\ufe0f';\n  md += `## ${icon} [${f.severity.toUpperCase()}] ${f.title}\\n`;\n  md += `**Module:** ${f.module}`;\n  if (f.file) md += ` | **File:** ${f.file}`;\n  md += `\\n\\n${f.description}\\n\\n`;\n  if (f.suggested_fix) md += `**Suggested Fix:** ${f.suggested_fix}\\n\\n`;\n  md += `---\\n\\n`;\n}\n\nconst slackSummary = findings.map(f => {\n  const icon = f.severity === 'critical' ? ':red_circle:' : f.severity === 'warning' ? ':warning:' : ':information_source:';\n  return `${icon} *${f.title}* (${f.module})`;\n}).join('\\n');\n\nreturn [{ json: { markdown: md, slack_summary: slackSummary, count: findings.length, timestamp: now } }];"
        }
      },
      {
        "id": "node-git-branch",
        "name": "Create Git Branch",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1160,
          300
        ],
        "parameters": {
          "command": "=cd /workspace && git checkout -b audit/{{ $json.timestamp }} && mkdir -p .audit && echo '{{ $json.markdown }}' > .audit/audit-{{ $json.timestamp }}.md && git add .audit/ && git -c user.name='{{ $env.GIT_USER_NAME }}' -c user.email='{{ $env.GIT_USER_EMAIL }}' commit -m 'chore: architecture audit findings {{ $json.timestamp }}'"
        }
      },
      {
        "id": "node-git-push",
        "name": "Push & Create PR",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1380,
          300
        ],
        "parameters": {
          "command": "=cd /workspace && git push origin audit/{{ $('Format Findings as Markdown').first().json.timestamp }} && gh pr create --title 'chore: architecture audit \u2014 {{ $('Format Findings as Markdown').first().json.count }} findings' --body '## Architecture Audit Findings\\n\\nAutomated audit by ArchitectureAgent.\\n\\n{{ $('Format Findings as Markdown').first().json.slack_summary }}'"
        }
      },
      {
        "id": "node-slack-notify",
        "name": "Slack - Findings",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1600,
          300
        ],
        "parameters": {
          "text": "=[Architecture] \ud83c\udfd7\ufe0f Daily audit found *{{ $('Format Findings as Markdown').first().json.count }}* issue(s):\\n\\n{{ $('Format Findings as Markdown').first().json.slack_summary }}\\n\\nMR created for review.",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALHU9MADB",
            "mode": "id"
          },
          "select": "channel"
        },
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {},
        "id": "manual-trigger-a1b2c3d4",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          250,
          100
        ]
      },
      {
        "parameters": {
          "text": "=[Platform] :white_check_mark: *Platform - Architecture Audit (Daily Code Quality)* completed successfully\n*Timestamp:* {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
          "otherOptions": {},
          "channelId": {
            "__rl": true,
            "value": "C0ALK9LU6H4",
            "mode": "id"
          },
          "select": "channel"
        },
        "id": "job-complete-a1b2c3d4",
        "name": "Slack - Job Complete",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1200,
          300
        ],
        "credentials": {
          "slackApi": {
            "id": "SOJFNoa56040Xc8Q",
            "name": "Slack account"
          }
        }
      }
    ],
    "connections": {
      "Daily 5 AM": {
        "main": [
          [
            {
              "node": "Run Architecture Audit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Run Architecture Audit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Architecture Audit": {
        "main": [
          [
            {
              "node": "Any Findings?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Findings?": {
        "main": [
          [
            {
              "node": "Format Findings as Markdown",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Format Findings as Markdown": {
        "main": [
          [
            {
              "node": "Create Git Branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Git Branch": {
        "main": [
          [
            {
              "node": "Push & Create PR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push & Create PR": {
        "main": [
          [
            {
              "node": "Slack - Findings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Run Architecture Audit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]